include LICENSE
include README.md

recursive-include strategypy *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude .git *
recursive-exclude .tox *
recursive-exclude .dist *
